@{
    ViewBag.Title = "Home Page";
}

<section class="wrapper site-min-height">
    <div class="row mt">
        <div class="col-lg-12">
            <div class="row content-panel">
                <div class="col-md-4 profile-text mt mb centered">
                    <div class="right-divider hidden-sm hidden-xs">
  
                            <li>
                                <div class="friends-pic">
                                    <a href="https://github.com/mateussilvamaciel" target="_blank"><img class="img-circle" width="35" height="35" src="~/img/IconGitHub.png">  github.com/mateussilvamaciel</a>
                                </div>

                            </li>
                            <li>
                                <div class="friends-pic">
                                    <a href="https://www.linkedin.com/in/mateus-silva-maciel-3694b317b/" target="_blank"><img class="img-circle" width="35" height="35" src="~/img/IconLink.png">  in/mateus-silva-maciel-3694b317b/</a>
                                </div>

                            </li>
                    </div>
                </div>
                <!-- /col-md-4 -->
                <div class="col-md-4 profile-text">
                    <h3>Mateus S. Maciel</h3>
                    <h6>Analista de Sistemas Jr</h6>
                    <p>
                        A aplicação foi desenvolvida no IDE Visual Studio com a linguagem C# e o Framework .NET. Usando o modelo MVC que conecta a um banco de dados SQL Express.
                        Funcionalidade: CRUD.
                    </p>
                    <br>
                    
                </div>
                <!-- /col-md-4 -->
                <div class="col-md-4 centered">
                    <div class="profile-pic">
                        <p><img src="~/img/ui-matte.jpg" class="~/img-circle"></p>
                
                    </div>
                </div>
                <!-- /col-md-4 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /col-lg-12 -->
        <div class="col-lg-12 mt">
            <div class="row content-panel">
                <div class="panel-heading">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active">
                            <a data-toggle="tab" href="#overview">Trabalhos e Experiências</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#contact" class="contact-map">Sobre mim</a>
                        </li>
                       
                    </ul>
                </div>
                <!-- /panel-heading -->
                <div class="panel-body">
                    <div class="tab-content">
                        <div id="overview" class="tab-pane active">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="detailed mt">
                                        <h4>Histórico</h4>
                                        <div class="recent-activity">
                                            <div class="activity-icon bg-theme"><i class="fa fa-check"></i></div>
                                            <div class="activity-panel">
                                                <h5>Agosto 2021 - Atualmente</h5>
                                                <p>Universidade de Uberaba</p>
                                                <p>Analista de Suporte</p>
                                            </div>
                                            <div class="activity-icon bg-theme"><i class="fa fa-check"></i></div>
                                            <div class="activity-panel">
                                                <h5>Fevereiro 2020 - Agosto 2021</h5>
                                                <p>Alternativa Contabilidade(Nova Ponte)</p>
                                                <p>Suporte Técnico</p>
                                            </div>
                                            <div class="activity-icon bg-theme"><i class="fa fa-check"></i></div>
                                            <div class="activity-panel">
                                                <h5>Fevereiro 2020</h5>
                                                <p>Nova Chama</p>
                                                <p>Vendedor</p>
                                            </div>
                                        </div>
                                        <!-- /recent-activity -->
                                    </div>
                                    <!-- /detailed -->
                                </div>
                                <!-- /col-md-6 -->
                                <div class="col-md-6 detailed">
                                    <h4>Cursos</h4>
                                    <ul>
                                        <li>.Net MVC - WebForms - C# e SQL</li>
                                        <li>C++: Orientação a Objetos - Introdução</li>
                                        <li>Curso Completo de PHP 7</li>
                                        <li>Curso Completo do Desenvolvedor Web</li>
                                        <li>Introdução a banco de dados com MySQL & PHPMyAdmin</li>
                                    </ul>
                                    <br />
                                    <br />
                                    <!-- /row -->
                                    <h4>Formação</h4>

                                    <ul>
                                        <li>
                                            <h3>Uniube</h3>
                                        </li>
                                        <li>
                                            <p>Graduação em Engenharia da Computação (2020)</p>
                                        </li>
                                    </ul>
                                    <br />
                                    <br />



                                    <!-- /row -->
                                    <h4>Habilidades</h4>
                                    <ul>
                                        <li>C# .NET</li>
                                        <li>Liguagens WEB(html,css,javascript)</li>
                                        <li>Git</li>
                                        <li>Banco de Dados MySQL e MongoDB</li>
                                    </ul>
                                    <br />
                                    <br />

                                    <h4>Extra</h4>
                                    <ul>
                                        <li>Inglês técnico</li>
                                        <li>Flexibilidade de horário</li>
                                        <li>AWS Soluções</li>
                                    </ul>
                                    <!-- /row -->
                                </div>
                                <!-- /col-md-6 -->
                            </div>
                            <!-- /OVERVIEW -->
                        </div>
                        <!-- /tab-pane -->
                        <div id="contact" class="tab-pane">
                            <div class="row">
                 
                                <!-- /col-md-6 -->
                                <div class="col-md-6 detailed">
                                    <h4>Informações pessoais</h4>
                                    <div class="col-md-8 col-md-offset-2 mt">
                                        <p>
                                            Nome: Mateus Silva Maciel<br />
                                            Idade: 25anos<br />
                                            Estado Civil: Solteiro
                                        </p>
                                        <br>
                                        <p>
                                            Cidade: Uberaba<br />
                                            Endereço: R. Pernambuco, 1810 - Santa Maria, Uberaba - MG, 38050-420
                                        </p>
                                    </div>
                                   
                                    <div class="col-md-8 col-md-offset-2 mt">
                                        <p>
                                            Celular: (34)99911-5668
                                        </p>
                                        <br>
                                        <p>
                                            Email: mateussilvamaciel@gmail.com<br>Linkedin: mateussilvamaciel<br> GitHub: https://github.com/mateussilvamaciel
                                        </p>
                                    </div>
                                </div>
                                <!-- /col-md-6 -->
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /tab-pane -->
                        <div id="edit" class="tab-pane">
                            <div class="row">
                                
                                <!-- /col-lg-8 -->
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /tab-pane -->
                    </div>
                    <!-- /tab-content -->
                </div>
                <!-- /panel-body -->
            </div>
            <!-- /col-lg-12 -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</section>